/* Temporary colors for now */
$green: rgb(63, 187, 131); //#3fbb83
$blue: rgb(54, 130, 237); //#3682ed
$yellow: rgb(246, 213, 92); //#f6d55c
$red: rgb(255, 102, 102); //#ff6666
$black: #090909;
$white: #fff;
$gray: rgb(30, 30, 30); //#1E1E1E

$primary: $green;
$secondary: $gray;
$accent: $yellow;
$error: $red;
